<!DOCTYPE html>
<html>
    <head>
        <title>Blog Site | <%=title %></title>
    </head>
    <body>
        <div class = "site-title">
            <h1>Blog it!</h1>
            <p>A blogging site</p>
        </div>
        
        <ul>
            <li><a href = "/">Blogs</a></li>
            <li><a href = "/about">About me</a></li>
        </ul>
        <div class = "about content">
            <h2>This is me</h2>
        </div>
    </body>
</html>